.beautiful-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .beautiful-button:hover {
    background-color: #3E8E41;
  }
  .container {
    text-align: center;
  }
  
  .paragraph {
    font-family: 'Kalam', cursive;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .paragraph p {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  footer {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
}

footer a {
  color: #555;
  text-decoration: none;
}
.play-button {
  display: inline-block;

  background-color: #4285F4;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.play-button i {
  font-size: 20px;
  margin-right: 8px;
}

.play-button:hover {
  cursor: pointer;
  background-color: #3367D6;
}
.button-container {
  text-align: center;
}

  
